<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="BaseURL" value="http://da.example.com:8087" />
    <add key="Asset.Username" value=""/>
    <add key="Asset.Password" value=""/>
    <add key="Proxy.Url" value="http://myco.co.nz:8080/"/>
    <add key="Proxy.Username" value=""/>
    <add key="Proxy.Password" value=""/>
    <add key="Proxy.Domain" value=""/>
  </appSettings>
  <log4net>
    <appender name="MainRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="DSLConfiguration.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="2" />
      <maximumFileSize value="1MB" />s
      <staticLogFileName value="true" />
      <threshold value="DEBUG"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c -  %m%n" />
      </layout>
    </appender>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender" >
      <threshold value="INFO"/>
      <applicationName value="DSL Configuration Sample" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="MainRollingFileAppender" />
      <appender-ref ref="EventLogAppender"/>
    </root>
  </log4net>  
</configuration>